@charset "UTF-8";
/* CSS Document */

/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
*/
@import url(http://fonts.googleapis.com/css?family=Lato:300italic,900);

/*
|--------------------------------------------------------------------------
| Standard
|--------------------------------------------------------------------------
*/
html,
body {
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
  font-size:16px;
  line-height:170%;
  color:#39322B;
  font-weight:300;
  font-style:italic;
}

a {
  color:#9A721A;
  text-decoration:none;
  font-family:"Times New Roman", Times, serif;
  font-style:italic;
}

a:hover {
  text-decoration:underline;
}

a:focus {
  outline:none;
}

h1 {
  font-size:170%;
  line-height:140%;
  font-weight:900;
  font-style:normal;
  letter-spacing:0.1em;
  text-transform:uppercase;
  margin-bottom:34px;
  color:#514E4F;
}

/*
|--------------------------------------------------------------------------
| Layout
|--------------------------------------------------------------------------
*/
body {
  z-index: 0;
}

.section {
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;

  position:relative;
  overflow:hidden;
  webkit-transform: translate3d(0,0,0);
  z-index: 1;
}

.section:nth-child(even) {
  box-shadow: 0px 0px 25px rgba(0,0,0,0.7) inset;
}

.player-wrap {
  text-align: center;
  position: absolute;
  top: 15%;
  right: 15%;
  left: 15%;
  bottom: 15%;
  z-index: 2;
}

.player {
  max-width: 100%;
  max-height: 100%;
  width: 780px;
  height: 100%;
  box-shadow: 1px 1px 10px rgba(32,32,32,0.75);
  z-index: 3;
}

/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
*/
.nav-prev,
.nav-next {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-pill {
  width: 43px;
  height: 42px;
  overflow: hidden;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  cursor: pointer;
}

.nav-prev.fixed,
.nav-next.fixed {
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transform: opacity 0.4s ease;
}

.nav-prev.fixed:hover,
.nav-next.fixed:hover {
  opacity: 0.9;
}

.nav-prev a,
.nav-next a {
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  position: absolute;
  top: 14px;
  right: 11px;
}

.nav-prev a:hover,
.nav-next a:hover {
  text-decoration: none;
}

.nav-prev {
  top: 0;
}

.nav-next {
  bottom: 0;

  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
