@charset "UTF-8";
/* CSS Document */

/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
*/
@import url(http://fonts.googleapis.com/css?family=Lato:300italic,900);

/*
|--------------------------------------------------------------------------
| Standard
|--------------------------------------------------------------------------
*/
html,
body {
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
  font-size:16px;
  line-height:170%;
  color:#39322B;
  font-weight:300;
  font-style:italic;
  width: 100%;
  height: 100%;
}

a {
  color:#FFF;
  text-decoration:none;
  font-style:italic;
}

a:hover {
  text-decoration:underline;
}

a:focus {
  outline:none;
}

h1 {
  font-size:170%;
  line-height:140%;
  font-weight:900;
  font-style:normal;
  letter-spacing:0.1em;
  text-transform:uppercase;
  margin-bottom:34px;
  color:#514E4F;
}

/*
|--------------------------------------------------------------------------
| Layout
|--------------------------------------------------------------------------
*/
body {
  z-index: 0;
}

.logo {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.contacts {
  list-style-type: none;
  padding: 0;
}

.section {
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;

  overflow:hidden;
  z-index: 1;

  width: 100%;
  height: 100%;
  position: relative;
  top: 0;

  display: table;
  text-align: center;
}

.section:nth-child(even) {
  box-shadow: 0px 0px 25px rgba(0,0,0,0.7) inset;
}

.center {
  display: table-cell;
  vertical-align: middle;
  z-index: 2;
}

.player {
  box-shadow: 1px 1px 10px rgba(32,32,32,0.75);
  max-width: 93%;
  width:780px;
  height:435px;

  -webkit-transition: height 0.4s ease;
  -moz-transition: height 0.4s ease;
  -ms-transition: height 0.4s ease;
  -o-transition: height 0.4s ease;
  transform: height 0.4s ease;
}

/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
*/
.nav-prev,
.nav-next {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  margin-top: 5px;
  margin-bottom: 5px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-pill {
  width: 42px;
  height: 42px;
  overflow: hidden;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  cursor: pointer;

  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transform: opacity 0.4s ease;
}

.nav-pill a {
  font-size: 60px;
  position: absolute;
  top: 15px;
  right: 5px;
}

.fixed .nav-pill:hover,
.fixed .nav-pill:hover {
  opacity: 0.9;
}

.nav-pill a:hover {
  text-decoration: none;
}

.nav-prev {
  top: 0;
}

.nav-next {
  bottom: 0;

  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
